<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title 'Flash Todo' %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<h1>{{ block('title') }}</h1>
<div>
    {{ include('AppBundle::flash.html.twig') }}
    {% block body '' %}
</div>
</body>
</html>
