{% if app.session.getFlashBag.has('success') %}
    <hr/>
{% endif %}
{% for success in app.session.getFlashBag.get('success') %}
    <p style="color:green;background-color: deepskyblue;">{{ success }}</p>
{% endfor %}
<hr/>

