{% extends 'AppBundle::base.html.twig' %}

{% block title 'Edit todo ' ~ todo.id %}

{% block body %}
    {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
    <p>
        <a href="{{ path('list_todo') }}">Go to list</a>
    </p>
{% endblock body %}