{% extends 'AppBundle::base.html.twig' %}

{% block title 'List of todos' %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todoList %}
            <tr>
                <td style="color:darkgreen;border-right: 1px solid black;"><b>{{ todo.title }}</b></td>
                <td style="color:black;border-right: 1px solid black;">{{ todo.message }}</td>
                <td>
                    <ul>
                        <li><a href="{{ path('edit_todo', {id: todo.id}) }}">Edit</a></li>
                        <li><a href="{{ path('delete_todo', {id: todo.id}) }}">Delete</a></li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"><b>No TODO actualy !</b> <small>Nice i'm in free sleep mode...</small></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ path('new_todo') }}">New</a>
    </p>
{% endblock body %}