{% extends 'AppBundle::base.html.twig' %}

{% block title 'New todo' %}

{% block body %}
{{ form(form, {attr: {novalidate: 'novalidate'}}) }}
<p>
    <a href="{{ path('list_todo') }}">Go to list</a>
</p>
{% endblock body %}