{% extends 'AppBundle::base.html.twig' %}

{% block title 'Show todo ' ~ todo.id %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.message }}</td>
        </tr>
        </tbody>
    </table>
    <p>
        <a href="{{ path('list_todo') }}">Go to List</a>
    </p>
{% endblock body %}